@use "mixins/mixins.scss" as *;
@use "common/var" as *;

$input-hight: 32px;

@include b(form-item) {
  display: flex;
  margin-bottom: 18px;

  @include e(label) {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 12px;
    height: $input-hight;
    line-height: $input-hight;
    color: #102c57;
    width: auto;
    .is-required { 
      color: #f56c6c;
      position: absolute;
      left: -10px;
      top: -3px;
    }
    :not(.is-required) {
      display: none;
    }
  }
  @include e(content) {
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  @include e(error) {
    position: absolute;
    left: 0px;
    top: $input-hight;
    color: $color-danger;
    font-size: 12px;
  }
}
