@use "mixins/mixins" as *;
@use "common/var" as *;

@include b(input) {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;

  @include e(wrapper) {
    box-sizing: border-box;
    display: inline-flex;
    border: 1px solid #ccc;
    flex: 1;
    align-items: center;
    position: relative;
    vertical-align: middle;
    border-radius: 6px;
    padding: 0 5px;
  }
  .is-focus {
    // border:1px solid #102c57;
    box-shadow: 0 0 0 1px #102c57;
    transition: all 0.5s;
  }
  @include e(prepend) {
    display: inline-flex;
    margin-left: 5px;
  }

  @include e(append) {
    display: inline-flex;
    margin-right: 5px;
  }

  @include e(inner) {
    display: inline-flex;
    outline: none;
    border: none;
    background: none;
    appearance: none;
    padding: 0 10px;
    width: 100%;
    height: 30px;
  }
}

@include b(input-group) {
  @include e(prefix) {
    display: inline-flex;
    padding: 0 10px;
    line-height: 32px;
    vertical-align: middle;
    margin-left: -1px;
    color: #102c57;
  }
  @include e(suffix) {
    display: inline-flex;
    padding: 0 10px;
    line-height: 32px;
    vertical-align: middle;
    color: #102c57;
  }
}
