@use "mixins/mixins" as *;
@use "common/var" as *;

@include b(tooltip) {
  display: inline-block;

  @include e(content) {
    position: absolute;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 90%;
  }
  @include m(dark) {
    background: #222;
    color: white;
  }
  @include m(light) {
    background: #dcdfe6;
    color: #686161;
  }
  @include e("arrow") {
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
  }
  @include m(dark-arrow) {
    background-color: #222;
  }
  @include m(light-arrow) {
    background-color: #dcdfe6;
  }
}
