@use 'mixins/mixins.scss' as *;
@include b(v){
    overflow-y: scroll;
    position: relative;
    border: 2px solid rgba(100, 108, 255, 0.14);
    box-sizing: content-box;
    @include e('scroll-list'){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}